.form-content {
    background-color:rgb(200, 245, 245);
    padding: 2rem;
    width: 40rem;
    height: min-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    border-radius: 0.7rem;
    overflow: auto;
    color:#000;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}

.add-button {
    width: 20px;
    height: 20px;
    padding: 3px;
    background-color: #474747;
    color: #fff;
}

.form { 
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.Send {
    border: none;
    padding: 0.625rem 1.5625rem;
    color: #070606;
}

.form > input{
    padding: .5rem;
    outline: .3rem solid #eaeaea;
    border-radius: .3em;
    border-color:#000;
    font-weight: 300;
}

.text-area{
    border-radius: .3rem;
    border-color:#000;
    font-weight: 300;
}

.title{
    font-family: 'Exo 2', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    text-align: center;
}
